<h1>Department Store</h1>
<%= link_to "Create a new department", new_department_path %>
<ul>
  <% @departments.each do |department| %>
    <li><%= link_to department.name, department %></li>
  <% end %>
</ul>